@font-face {
  font-family: "mediaeval";
  src: url("public/Mediaeval.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "mediaeval";
  src: url("public/MediaevalItalic.otf") format("opentype");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "mediaeval";
  src: url("public/MediaevalBold.otf") format("opentype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "mediaeval";
  src: url("public/MediaevalBoldItalic.otf") format("opentype");
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: "mediaeval sc";
  src: url("public/MediaevalSC+OSFBold.otf") format("opentype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "mediaeval sc";
  src: url("public/MediaevalSC+OSFBoldItalic.otf") format("opentype");
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: "intel";
  src: url("public/intel_regular.woff2") format("woff2");
  font-style: normal;
  font-style: normal;
}

@font-face {
  font-family: "ltr";
  src: url("public/ltr.woff2") format("woff2");
  font-style: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #123400;
  color: #fdf5e6;
  font-family: "mediaeval", serif;
  line-height: 2;
  margin: 0 auto;
  max-width: 650px;
  padding: 2rem;
  word-spacing: 0.6rem;
}

a:link {
  color: #beb4ff;
  padding: 2px;
}

a:visited {
  color: #beb4ff;
}

a:hover {
  color: #beb4ff;
}

a[href*="//"]::after {
  font-family: "ltr", serif;
  font-size: 80%;
  content: "\2192";
}

a:active {
  outline: 2px dotted #beb4ff;
}

h1,
h2,
h3,
h4 {
  font-family: "mediaeval sc", serif;
  font-weight: normal;
  line-height: 1.3;
  border-bottom: 1px solid #beb4ff;
  font-variant: small-caps;
}

img {
  border: 3px solid #000;
  max-width: 100%;
  min-height: 4em;
  height: auto;
  display: block;
  position: relative;
}

img:after {
  font-size: 90%;
  content: attr(alt);
  display: grid;
  align-content: center;
  text-align: center;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #111;
  background-color: #beb4ff;;
}

blockquote {
  line-height: 1.4;
  padding: 0 1rem;
  border-left: 2px solid #beb4ff;
  color: #fdf5e6;
}

code,
pre,
kbd,
samp {
  font-family: "intel", monospace;
  font-size: 86%;
  line-height: 1.3;
  padding: 1px 4px;
  border-radius: 3px;
  border: 1px solid #beb4ff;
  color: #fdf5e6;
}

kbd {
  border-bottom: 3px solid #beb4ff;
}

pre {
  padding: 1rem 1.4rem;
  max-width: 100%;
  overflow: auto;
}

pre code {
  background: inherit;
  color: inherit;
  border: 0;
  padding: 0;
  margin: 0;
  font-size: 98%;
}

code pre {
  display: inline;
  background: inherit;
  color: inherit;
  border: 0;
  padding: 0;
  margin: 0;
}

figcaption {
  color: #BABABA;
}

small, span {
  color: #BABABA;
}

footer {
  text-align: center;
  margin-top: 2rem;
  line-height: 1.2;
}

footer small {
  line-height: 1.2;
}

small a:link {
  color: #BABABA;
}

small a:visited {
  color: #BABABA;
}

small a:active {
  outline: 1px solid #BABABA;
}

@supports (color-scheme: dark light) {
  @media screen and (prefers-color-scheme: light) {
      body { 
        background-color: #fdf5e6;
        color: #123400;
      }
      a:link, a:hover, a:visited {
        color: #3413ff;
      }
      a:active {
        outline: 1px solid #3413ff;
      }
      h1, h2, h3, h4 {
        border-bottom: 1px solid #3413ff;
      }
      img:after {
        background-color: #3413ff;
        color: #fdf5e6;
      }
      blockquote {
        border-left: 2px solid #3413ff;
        color: #123400;
      }
      code,
      pre,
      kbd,
      samp {
        border: 1px solid #3413ff;
        color: #123400;
      }
      figcaption, small, span, small a:link, small a:hover, small a:visited {
        color: #525252;
      }
      small a:active {
        outline: 1px solid #525252;
      }
  }
}
